[project]
	description = Security Manager
[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	push = group securitymgr
[access "refs/heads/*"]
	create = group securitymgr
	forgeAuthor = group securitymgr
	label-Code-Review = -2..+2 group securitymgr
	submit = group securitymgr
	editTopicName = group securitymgr
	abandon = group securitymgr
	removeReviewer = group securitymgr
[access "refs/meta/config"]
	read = group securitymgr
[access "refs/tags/*"]
	pushTag = group securitymgr
	pushSignedTag = group securitymgr
[access "refs/for/*"]
	pushMerge = group securitymgr
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Non-Interactive Users
	pushMerge = group securitymgr
[access "refs/*"]
	read = group GitHub Replication
